<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">Métricas</h2>
        </div>
        <div class="align-items-stretch justify-content-center mb-5">
            <div class="form-group mb-md-0 text-center form-conent">
                <strong class="d-inline-block mb-2 text-primary-emphasis letras">Desempeño</strong>
                <div class="col-md-6" *ngFor="let atributo of atributos">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <a class="icon-link-hover mb-0" (click)="setCurrentAtributo(atributo)">
                                {{atributo.nombre}}
                            </a>
                            <div class="list-group-item d-flex" *ngIf="currentAtributo === atributo">
                                <ul class="left-aligned">
                                    <li *ngFor="let sub_atributo of atributo.metricas">
                                        <input class="form-check-input" type="checkbox" value="">
                                        {{sub_atributo}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center justify-content-between">
        <!-- <button type="submit" class="btn btn-primary btn-xl me-4" (click)="goBack()">Atrás</button> -->
        <button type="submit" class="btn btn-primary btn-xl">Siguiente</button>
    </div>    
</section>