section#contact {
 background-color: #E1DFDF;
 background-repeat: no-repeat;
 background-position: center;
 }
 section#contact .section-heading {
 color: #0081C6;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 700;
 }
 
 .text-blue {
 color: #0081C6;
 }
 
 section#contact .section-mimoq {
 color: #23232A;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 700;
 text-align: center;
 }
 section#contact .section-label {
 color: #23232A;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 700;
 }
 
 .form-url {
 
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 margin-bottom: 1.5rem;
 margin-top: 2.5rem;
 }
 
 .form-conent {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 margin-bottom: 1.5rem;
 margin-top: 2.5rem;
 }
 .register-link a{
 display: flex;
 justify-content: center;
 text-decoration: none;
 align-items: center;
 flex-direction: column;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 margin-bottom: 1rem;
 }
 .register-link a:hover {
 text-decoration: underline;
 font-size: 1.06rem;
 }
 
 .signup-link a {
 font-size: 1em;
 color: #0081C6;
 text-decoration: none;
 margin-bottom: 1.5rem;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }
 .signup-link a:hover {
 text-decoration: underline;
 }
 
 section#contact formhashtag#contactForm .form-group {
 margin-bottom: 1.5rem;
 }
 section#contact formhashtag#contactForm .form-group input,
 section#contact formhashtag#contactForm .form-group textarea {
 padding: 1.25rem;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }
 section#contact formhashtag#contactForm .form-group input.form-control {
 height: auto;
 }
 section#contact formhashtag#contactForm .form-group-textarea {
 height: 100%;
 }
 section#contact formhashtag#contactForm .form-group-textarea textarea {
 height: 100%;
 min-height: 10rem;
 }
 section#contact formhashtag#contactForm p.help-block {
 margin: 0;
 }
 section#contact formhashtag#contactForm .form-control:focus {
 border-color: #0081C6;
 box-shadow: none;
 }
 section#contact formhashtag#contactForm ::-webkit-input-placeholder {
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 700;
 color: #ced4da;
 }
 section#contact formhashtag#contactForm :-moz-placeholder {
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 700;
 color: #ced4da;
 }
 section#contact formhashtag#contactForm ::-moz-placeholder {
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 700;
 color: #ced4da;
 }
 section#contact formhashtag#contactForm :-ms-input-placeholder {
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 700;
 color: #ced4da;
 }

 .about-heading .about-heading-content {
 margin-top: -5rem;
 position: relative;
 z-index: 1;
 }

 .col-xl-9 {
 flex: 0 0 auto;
 width: 75%;
 }

 .col-lg-10 {
 flex: 0 0 auto;
 width: 83.33333333%;
 }

 .mx-auto {
 margin-right: auto !important;
 margin-left: auto !important;
 }

 .bg-faded {
 background-color:transparent
 }

 .rounded {
 border-radius: var(--bs-border-radius) !important;
 }

 .p-5 {
 padding: 3rem !important;
 }

 table {
 caption-side: bottom;
 border-collapse: collapse;
 }

 .table {
 --bs-table-color: #212529;
 --bs-table-bg: transparent;
 --bs-table-border-color: #212529;
 --bs-table-accent-bg: transparent;
 --bs-table-striped-color: #212529;
 --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
 --bs-table-active-color: #212529;
 --bs-table-active-bg: rgba(0, 0, 0, 0.1);
 --bs-table-hover-color: #212529;
 --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
 width: 100%;
 margin-bottom: 1rem;
 color: var(--bs-table-color);
 vertical-align: top;
 border-color: var(--bs-table-border-color);
 }

 .table-striped > tbody > tr:nth-of-type(odd) > * {
 --bs-table-accent-bg: var(--bs-table-striped-bg);
 color: var(--bs-table-striped-color);
 }
 
 .table-striped-columns > :not(caption) > tr > :nth-child(even) {
 --bs-table-accent-bg: var(--bs-table-striped-bg);
 color: var(--bs-table-striped-color);
 }

 .proyecto-list {
 background-color: white;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

 /* Cambiar el color de fondo y el color del texto del encabezado de la tabla */
 .proyecto-list thead {
 background-color: #212529;
 color: white;
 }

 .text_table {
 color: white;
 text-align: center;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

 .btn-icon {
 display: flex;
 align-items: center;
}

.btn-icon svg {
 margin-right: 5px; /* Ajusta el margen según sea necesario */
}
/* Estilo para el div contenedor */
.contenedor {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Estilo para las etiquetas strong */
  .contenedor strong {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Estilo para las listas ul */
  .contenedor ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Estilo para las tablas */
  .contenedor .proyecto-list {
    width: 100%;
    border-collapse: collapse;
  }
  
  .contenedor .proyecto-list th,
  .contenedor .proyecto-list td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .contenedor .proyecto-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .contenedor .proyecto-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #212529;
    color: white;
  }