
header.masthead {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-color: #23232A;
  background-image: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.78)), url("../../../assets/img/OIG4.jpg");
  background-position: center center;
  background-size: cover;
}
  header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 5px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .masthead-heading {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  /* home */
  @media (min-width: 568px) {
    header.masthead {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    header.masthead .masthead-subheading {
      font-size: 2.25rem;
      font-style: italic;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
      font-size: 3.5rem;
      font-weight: 550;
      line-height: 4.5rem;
      margin-bottom: 2rem;
    }
  } 

  .masthead-heading span {
    color: #0081C6;
  }