<section class="page-section" id="contact">
    <div class="text-center">
        <h2 class="section-heading">Proyectos</h2>
    </div>
    <div class="align-items-stretch justify-content-center mb-5">
        <div class="about-heading-content">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5">
                    <table class="proyecto-list table table-striped">
                        <caption style="text-align:center">Lista de proyectos creados</caption>
                        <thead>
                            <tr>
                                <th class="text_table" scope="col">Nombre</th>
                                <th class="text_table" scope="col">Descripción</th>
                                <th class="text_table" scope="col">Url</th>
                                <th class="text_table" scope="col"></th>
                                <th class="text_table" scope="col">Acciones</th>
                                <th class="text_table" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (proyecto of proyectos | paginate:{itemsPerPage: 10, currentPage: p}; track $index) {
                                <tr class="text_table">   
                                <td>{{proyecto.nombre}}</td>
                                <td>{{proyecto.descripcion}}</td>
                                @if(proyecto.docker_compose){ 
                                     <td>{{proyecto.url_repositorio}}</td>
                                }@else if(!proyecto.docker_compose){
                                    <td class="text_table">
                                        @for (url of proyecto.urls_repositorios; track $index){
                                            <ul>
                                                 <li>{{url}}</li>
                                            </ul>
                                        }
                                    </td>
                                }
                                <td>
                                    <a class="btn btn-outline-dark btn-icon" [routerLink]="[ROUTES_APP.VER_PROYECTO, proyecto.id_proyecto]">
                                        Ver
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary btn-icon" [routerLink]="[ROUTES_APP.EDIT_PROYECTO, proyecto.id_proyecto]">
                                        Editar
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger btn-icon" (click)="eliminarProyecto(proyecto?.id_proyecto || 0)">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>   
                    </table>
                    <div class="text-center form-conent">
                        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                    <div class="text-center form-conent">
                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit" [routerLink]="ROUTES_APP.CREAR_PROYECTO">Crear proyecto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>