/* navbar.component.css */

.main-header {
  background-color: #111B2D;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin-left: 10px;
}

.logo-container img {
  width: 5%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.login-button {
  margin-right: 10px;
}

.login-button button {
  background-color: #0ef;
  color: #1f293a;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.login-button button:hover {
  background-color: #0cf;
}
