<!-- navbar.component.html -->

<header class="main-header">
  <div class="logo-container">
    <a href="#"> <img src="./assets/images/logo.png" alt="logo" width="5%"></a>
  </div>
  <nav class="navbar">
    <ul class="nav-links">
      <li><a routerLink="proyectos">Proyectos</a></li>
      <li><a routerLink="despliegues">Despliegues</a></li>
      <li><a routerLink="metricas">Métricas</a></li>
    </ul>
  </nav>
  @if(!isLoggedIn) {
  <div class="login-button">
    <button class="btn" (click)="redirectToLogin()">Iniciar sesión</button>
  </div>
  }
  @else {
  <div class="login-button">
    <button class="btn" (click)="redirectToPrincipal()">Cerrar sesión</button>
  </div>
  }

</header>
