<section class="page-section" id="contact">
<div class="container">
    <div class="text-center">
        <h2 class="section-heading">Crear una cuenta</h2>
    </div>
    <!-- * * * * * * * * * * * * * * *-->
    <!-- * * SB Forms Contact Form * *-->
    <!-- * * * * * * * * * * * * * * *-->
    <!-- This form is pre-integrated with SB Forms.-->
    <!-- To make this form functional, sign up at-->
    <!-- https://startbootstrap.com/solution/contact-forms-->
    <!-- to get an API token!-->
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="row align-items-stretch mb-5">
            <div class="col-md-6">
              <div class="form-group">
                <!-- Name input-->
                <label class="section-label" for="name">Nombre Completo</label>
                <input class="form-control" id="name" type="text" placeholder="Ingrese el nombre completo *" data-sb-validations="required" />
                <div class="invalid-feedback" data-sb-feedback="name:required">El nombre es requerido.</div>
              </div>
              <div class="form-group">
                <!-- Email address input-->
                <label class="section-label" for="email">Email</label>
                <input class="form-control" id="email" type="email" placeholder="Ingrese el Email *" data-sb-validations="required,email" />
                <div class="invalid-feedback" data-sb-feedback="email:required">El email es requerido.</div>
                <div class="invalid-feedback" data-sb-feedback="email:email">El Email no es válido.</div>
              </div>
              <div class="form-group mb-md-0">
                <!-- Password input-->
                <label class="section-label" for="password">Contraseña</label>
                <input class="form-control" id="password" type="password" placeholder="Ingrese la contraseña *" data-sb-validations="required" />
                <div class="invalid-feedback" data-sb-feedback="password:required">La contraseña es requerida.</div>
              </div>
            </div>
            <div class="col-md-6">
              <img class="d-block mx-auto mb-4" src="../../../../assets/img/Logo_Negro.svg" alt="" width="400" height="200">
              <h3 class="section-mimoq text-uppercase">MICROSERVICE METRICS OF QUALITY</h3>
            </div>
        </div>
        <!-- Submit success message-->
        <!---->
        <!-- This is what your users will see when the form-->
        <!-- has successfully submitted-->
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center text-white mb-3">
                <div class="fw-bolder">¡Registrado correctamente!</div>
                To activate this form, sign up at
                <br />
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <!-- Submit error message-->
        <!---->
        <!-- This is what your users will see when there is-->
        <!-- an error submitting the form-->
        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error en el registro</div></div>
        <!-- Submit Button-->
        <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Resgistrar</button></div>
    </form>
</div>
</section>