<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">Crear Proyecto</h2>
  </div>
    <form [formGroup]="customerForm" id="contactForm" class="row g-3 needs-validation" novalidate>
      <div class="row align-items-stretch justify-content-center mb-5">
        <div class="col-md-6">
          <div class="form-group">
            <label class="section-label" for="inputName4">Nombre</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Nombre"
              id="inputName4"
              required
            />
            <div class="invalid-feedback">
              Nombre requerido
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription4" class="section-label">Descripción</label>
            <input
              type="text"
              formControlName="description"
              placeholder="Descripción"
              id="inputDescription4"
              class="form-control"
            />
            <div class="invalid-feedback">
              Descripción requerida
            </div>
          </div>
          <div class="form-group">
              <label for="question" class="section-label">¿Este repositorio contiene todos los microservicios a evaluar?</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadio1" id="flexRadioSi1">
            <label class="form-check-label" for="flexRadioSi1">
              Si
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadio1" id="flexRadioNo1" checked>
            <label class="form-check-label" for="flexRadioNo1">
              No
            </label>
          </div>
          <div class="form-group row">
            <label for="inputUrlrepo4" class="section-label">Url repositorio</label>
            <div class="col-md-12">
              <div class="d-flex align-items-center">
                <input
                  type="url"
                  formControlName="repositorio"
                  placeholder="Repositorio"
                  id="inputUrlrepo4"
                  class="form-control me-2"
                />
                <button type="button" class="btn btn-outline-primary" (click)="addUrl()">+</button>
              </div>
              <div class="invalid-feedback">
                Url requerido
              </div>
            </div>
          </div>
          <div formArrayName="urlsRepositorios">
            @for (alias of urlsRepositorios.controls; track $index) {
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="d-flex align-items-center">
                    <input
                      type="url"
                      [formControlName]="$index"
                      placeholder="Repositorio"
                      id="inputUrlrepo{{$index}}"
                      class="form-control me-2"
                    />
                    <!-- <div class="btn-group" role="group"> -->
                      <button type="button" class="btn btn-outline-primary" (click)="deleteUrl($index)">-</button>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            }
          </div>          
          <div class="form-group">
            <label for="question" class="section-label">¿Cada Microservicio tiene Dockerfile?</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadio2" id="flexRadioSi2">
          <label class="form-check-label" for="flexRadioSi2">
            Si
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadio2" id="flexRadioNo2" checked>
          <label class="form-check-label" for="flexRadioNo2">
            No
          </label>
        </div>

          <div class="text-center form-conent">
            <button type="submit" class="btn btn-primary btn-xl" [disabled]="!customerForm.valid">Siguiente</button>
          </div>
        </div>
      </div>  
    </form>
  </div>
  <p>Name: {{customerForm.value}}</p>
  <script src="../../../../assets/js/checkout_pages.js"></script>
</section>