<section class="page-section" id="contact">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading">Configurar Despliegue</h2>
      </div>
      <form [formGroup]="despliegueForm" id="contactForm" class="row g-3 needs-validation" novalidate>
        <div class="row align-items-stretch justify-content-center mb-5">
          <div class="col-md-7 center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="section-label" for="inputName4">No. Pods</label>
                <input type="number" formControlName="duracion" class="form-control" placeholder="Cantidad de pods" id="inputName4" min = "1"
                  required />
                
                <div class="invalid-feedback">
                  No. pods requeridos
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputDescription4" class="section-label">No. Réplicas</label>
                    <input type="number" formControlName="description" placeholder="Cantidad de réplicas" id="inputDescription4"
                      class="form-control" min = "1" required/>
                    <div class="invalid-feedback">
                      Cantidad de réplicas requeridas
                    </div>
                  </div>
            </div>  

            <div class="text-center form-conent">
              <button type="submit" class="btn btn-primary btn-xl" [disabled]="!despliegueForm.valid">
                <a class="btn btn-primary btn-xl" >
                  Siguiente
                </a></button>
            </div>

          </div>
        </div>
      </form>
    </div>
    <script src="../../../../assets/js/checkout_pages.js"></script>
  </section>