<!-- <iframe src="http://localhost:3000/d/W5KDrdKnz/6e86b6fe-1eab-5293-a881-2592e2eb6445?orgId=1"
width="100%" height="900" title="Dashboard" name="contents"></iframe> -->
<section class="page-section" id="dashboard">
  <div class="text-center">
    <h2 class="section-heading">Dashboard</h2>
  </div>
  <!-- <button type="button" class="btn btn-outline-info">Info</button> -->
  <button class="btn btn-primary" id="miBoton" type="submit" (click)="descargarResultados()"
  [disabled]="!this.resultados">
    Resultados
  </button>
  <div class="iframes-container">
    @for (iframeGroup of this.iframesHtml; track $index)
    {
    <div class="iframe-wrapper">
      <p class="section-label">{{this.nombres[$index]}}</p>
      <!-- <p class="section-label">prueba</p> -->
      <!-- <iframe src="http://localhost:3000/d/edmxttq1jfxtsd/new-dashboard?orgId=1&from=1716763587000&to=1716785187000&viewPanel=1"
width="500" height="250" title="Dashboard" name="contents"></iframe>
<iframe src="http://localhost:3000/d/edmxttq1jfxtsd/new-dashboard?orgId=1&from=1716763587000&to=1716785187000&viewPanel=1"
width="500" height="250" title="Dashboard" name="contents"></iframe>
<iframe src="http://localhost:3000/d/edmxttq1jfxtsd/new-dashboard?orgId=1&from=1716763587000&to=1716785187000&viewPanel=1"
width="500" height="250" title="Dashboard" name="contents"></iframe>
<iframe src="http://localhost:3000/d/edmxttq1jfxtsd/new-dashboard?orgId=1&from=1716763587000&to=1716785187000&viewPanel=1"
width="100%" height="400" title="Dashboard" name="contents"></iframe> -->
      <div [innerHTML]="iframeGroup"></div>
    </div>
    }
  </div>
</section>
