<!-- <iframe src="http://localhost:3000/d/W5KDrdKnz/6e86b6fe-1eab-5293-a881-2592e2eb6445?orgId=1"
width="100%" height="900" title="Dashboard" name="contents"></iframe> -->


<div [innerHTML]="iframeHtml"></div>
<!-- <div><p>prueba</p></div>
<div [innerHTML]="this.iframeString"></div> -->
<!-- <div [innerHTML]="iframes[0][0]"></div> -->
<!-- @for (iframeGroup of this.iframes; track $index)
{
  <p>{{iframeGroup}}</p>
  <div [innerHTML]="iframeGroup"></div>
  <div><p>prueba2</p></div>
@for(iframe of iframeGroup; track $index){
  <p>{{iframe}}</p>
  <div><p>prueba3</p></div>
<div [innerHTML]="iframe"></div>
}
}
<div><p>prueba4</p></div> -->
@for (iframeGroup of this.iframesHtml; track $index)
{
  <div><p>prueba {{$index}}</p></div>
  <p>{{iframeGroup}}</p>
  <div [innerHTML]="iframeGroup"></div>
}
