section#dashboard {
  background-color: #E1DFDF;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 120px);
  align-content: center;
}
section#dashboard .section-heading {
  color: #0081C6;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
section#dashboard .section-mimoq {
  color: #23232A;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-align: center;
}
section#dashboard .section-label {
  color: #23232A;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
section#dashboard form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#dashboard form#contactForm .form-group input,
section#dashboard form#contactForm .form-group textarea {
  padding: 1.25rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
section#dashboard form#contactForm .form-group input.form-control {
  height: auto;
}
section#dashboard form#contactForm .form-group-textarea {
  height: 100%;
}
section#dashboard form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#dashboard form#contactForm p.help-block {
  margin: 0;
}
.btn {
  background-color: #0081C6;
}
section#dashboard form#contactForm .form-control:focus {
  border-color: #0081C6;
  box-shadow: none;
}
section#dashboard form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#dashboard form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#dashboard form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#dashboard form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
.iframes-container {
  display: flex;
  flex-wrap: wrap;
}

.iframe-wrapper {
  align-items: center; /* Centra los elementos verticalmente */
  flex: 1 1 auto; /* Flex-grow, flex-shrink, flex-basis */
  margin: 10px; /* Espacio entre los iframes */
}
#miBoton {
  margin: 15px;
  align-self: flex-start; /* Alinea el botón hacia arriba */
  /* Para alinear el botón hacia abajo, puedes usar: align-self: flex-end; */
}