<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-4 text-lg-start">Copyright &copy; 2020 – 2024 Pontificia Universidad Javeriana</div>
          <div class="col-lg-4 my-3 my-lg-0">
              <a class="btn btn-dark btn-social mx-2" href="https://github.com/andersonjalvarado" aria-label="GitHub"><i class="fab fa-github"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Gmail"><i class="fas fa-envelope"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/andersonjalvarado/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="col-lg-4 text-lg-end">
              <a class="text-decoration-none me-3" href="#!">Acerca de Nosotros</a>
              <a class="text-decoration-none" href="#!">Contacto</a>
          </div>
      </div>
  </div>
</footer>